body { 
font-family: Georgia, Times,  sans-serif;
margin: 0;
padding: 0; 
background: #2980B9;
color: #3f3f3f;
font-size: 16px;
line-height: 24px;
}

a { color: #1534FA; }
a:hover { color: #FA153B; }

#wrap { 
margin: 40px auto;
width: 940px;
background: #E0E0E0;

box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

#header {
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;

background: #AED6F1  ;
padding: 20px 0 40px 0;
}
#header h1 {
margin: 0;
padding: 0 0 0 30px;
font-weight: bold;
color: #3f3f3f;
font-size: 38px;
line-height: 65px;
letter-spacing: -1px;
}
#header h2 {
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
margin: 0 0 0 20px; 
padding: 5px 12px;
font-weight: normal;
color: #171717;
font-size: 22px;
letter-spacing: -1px;
background: #15FAF0 ;
border: 1px solid #15FAF8;
display: inline;
}

#topmenu {
background: #FF2B2B;
padding: 10px 20px;
border-bottom: 1px solid #e1e1e1;
border-top: 1px solid #e1e1e1;
}
#topmenu ul { margin: 0; padding: 0; list-style-type: none;}
#topmenu li { display: inline; padding: 0 20px 0 0 }
#topmenu li a { text-decoration: none; 
}

.search { float: right; }

#menu {
font-size: 14px;
float: right; 
width: 300px; 
color: #fff;
margin: 30px 20px 20px 0;
}
#menu h3 {
font-weight: normal; background: #5f5f5f; color: #fff; padding: 10px; margin: 10px 0; 
}
#menu ul { 
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;

list-style-type: none; margin: 0; padding: 0 10px 10px 10px;
}
#menu ul li a { color: #12c; text-decoration: none; border-bottom: 1px dotted #12c; }
#menu ul li a:hover { color: #c12; border-bottom: 1px dotted #c12; }

#content { float: left; width: 580px; margin: 10px 0 40px 20px;}
#content h2 { font-weight: normal; font-size: 22px; line-height: 33px; }
#content h3 { font-size: 17px; font-weight: normal; }

.cleft {width: 100px;}
.cright {width: 100px;}

#footer { 
-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;

background: #FF2B2B;
color: #fff;
padding: 20px;
border-top: 1px solid #1f1f1f;
}
#footer a { color: #fff; text-decoration: none; border-bottom: 1px dotted #fff; }
#footer a:hover { border-bottom: 1px dotted #ccc; }

.left { float: left; }
.right { float: right; }
.clear { clear: both; }
