body { 
height: 100%;
font-family: GenLight, sans-serif;
margin: 20px;
padding: 0; 
background: #9dc4dd;
color: darkblue;
font-size: 16px;
line-height: 24px;
}
h1 {
margin: 0;
padding: 0 0 0 0;
font-weight: bold;
color: darkblue;
font-size: 42px;
line-height: 65px;
letter-spacing: 1px;
}

#slideshow {

border-radius: 10px;

}

#caption {
    font-style: italic;
}

fieldset{
    padding-left: 25px;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    width: 515px;
}