html, body{
  height: 100%;
  margin: 0;
}

body {
   background-image: url("/images/beachbg.jpg");
} 



.row{
 position:relative;
 margin-left:10%;
 margin-right:10%;
}

.clear {
clear:both;
}

.white{
 border: 1px solid black;
 width: 10%;
 height: 60px;
 background-color:white;
 float:left;
}
 
.black{
 border: 1px solid black;
 width: 10%;
 height: 60px;
 background-color:#787878;
 float:left;
}

#footer {
 padding-top: 10px;
 padding-bottom: 10px;
 text-align: center;
 background-color: #5f9ca8;
}

#container {
 margin-top:20%;
 margin-left:10%;
 margin-right:10%;
 margin-bottom:5%;
}

#title {
  font-family: 'ArchitectsDaughterRegular'; 
  font-weight: normal; 
  font-style: normal; 
  font-size: 36px;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  background-color: #5f9ca8;
  text-align: center;
  z-index: 10;
}
.white img {
   margin-left: 5px;
   margin-top:10px;
 }

